*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #9c2531;
  font-family: "Poppins", sans-serif;
  background: #fff;
  height: 100%;
}
.logo {
  font-size: 2.5rem;
  color: #8f2727;
  text-align: center;
  font-weight: bolder;
  background: coral;
  width: 100%;
  padding: 20px;
  text-decoration: none;

}
.inner_container {
  max-width: 1200px;
  margin: 0 auto;
  height: 50%;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  height: 80%;
  border: 2px solid #130a89;
  background: linear-gradient(to right,#FF4601, #fff, rgba(42, 213, 8, 0.802));
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}
.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "num2 num4 num5 num9 num1"
    "num2 num7 num5 num6 num1 "
    "num8 num8 num3 num3 num3";
  column-gap: 3px;
  row-gap: 3px;
  p {
    text-align: left;
    padding-right: 10%;
  }
}
.grid_last {
  grid-template-columns: 49.9% 49.9%;
  grid-template-areas: "num8 num3";
  p {
    text-align: right;
    padding-right: 5%;
  }
}
p {
  font-size: 3.5rem;
  font-weight: bolder;
  opacity: 0.5;
}

.grid > * {
  border-radius: 5px;
  padding: 5px;
}
.grid > * > h3, h2 {
  padding: 10px 0;
}

h4 {
  font-size: 1.4rem;
  font-weight: 600;
}